<div class="tab-pane fade show active" id="yearly">
      <div class="row d-flex aligns-items-center justify-content-center">
        
            {{ with resources.GetRemote
"https://purchase-api.dynabic.com/v1.2/productFamily/site-aspose?isArchived=&pageNumber=&pageSize=&applyDisplayOrder=true&includeProducts=false&enabledPPPOn=&clientkey=a&signature=jc_xWmdMtA-nMA2Bgp9vuEV0Kn0"
}} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
transform.Unmarshal . }}
{{ range . }}
{{ $url := print
          "https://purchase-api.dynabic.com/v1.2/productFamily/site-aspose/name-"
          "" .Name }} {{ with resources.GetRemote $url }} {{ with .Err }} {{
          warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
          transform.Unmarshal . }}
        {{ range .Products }}
            {{ $id := .Id }}
            {{ if eq $id $.Page.Params.Id }}
            {{ range .PricingPlans }}
            {{ if not (strings.Contains .Name "Old Subscription") }}
            {{ $name := .Name }}
            {{ $ppId := .Id }}
            {{ $lastchar := substr $name -1 }}
            {{ if eq $lastchar "1" }}
            {{ $onlyName := split $name "*" }}
            
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ index $onlyName 0 }}</strong></h5>
                        {{ range .PaymentScheduleList }}
                        <h3>${{ .SubscriptionPeriodCharge }}</h3>
                        {{ end }}
                        <p>With Free Support</p>
                        {{ $linkUrl := print "https://purchase.aspose.com/buy/cart?ppId=" "" $ppId }}
                        <a class="btn btn-primary" href="{{ $linkUrl }}">Select</a>
                        <hr>
                        {{ range .PaymentScheduleList }}
                        {{ $SubCharges := .SubscriptionPeriodCharge }}
                        {{ $SubCharges }}
                        {{ end }}
                        {{ range .ProductItemsList }}
                        {{ range .MeteredPriceList }}
                        {{ .UnitPrice }}
                        {{ end }}
                        {{ end }}
                        
                        
                        
                        
                    </div>
                </div>
            </div>

            

{{ end }}{{ end }}
{{ end }}{{ end }}
{{ end }}{{ end }}
        {{ end }} {{ end }}{{ end }}{{ end }}
{{ end }}{{ end }}{{ end }}{{ end }}
       
      </div>
    </div>